<nav class="navbar navbar-expand-lg navbar-dark bg-danger shadow">
	<div class="container">
		<a class="navbar-brand fw-bold d-flex align-items-center gap-2" href="{{ path('home') }}">
			<img src="{{ asset('img/Scuderia_Ferrari_Logo.svg') }}" alt="Logo Ferrari" class="navbar-logo" width="55" height="76" decoding="async">
			WEC / Ferrari
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto fw-semibold align-items-lg-center gap-lg-1">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('home') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('sport_auto') }}">Sport Auto</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('store') }}">Store</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="{{ path('orders_index') }}">Commandes</a>
				</li>

				{% if app.user %}
					{% if 'ROLE_ADMIN' in app.user.roles %}
						<li class="nav-item">
							<a class="nav-link fw-bold" href="{{ path('dashboard') }}">Admin</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link text-light fw-bold" href="{{ path('app_logout') }}">Logout</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fw-bold" href="{{ path('app_register') }}">Sign In</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
