{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}


{% block main %}
	<div class="row justify-content-center">
		<div class="col-md-4">
			<h2 class="text-center text-danger mb-4">Inscription</h2>

			{% for message in app.flashes('error') %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}

			{{ form_start(form) }}
			{{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}
			{{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}
			{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
			{{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
			<button type="submit" class="btn btn-danger w-100">S'inscrire</button>
			{{ form_end(form) }}

			<div class="text-center mt-3">
				<a href="{{ path('app_login') }}" class="text-decoration-none text-warning">
					Déjà un compte ?
					<strong>Login</strong>
				</a>
			</div>
		</div>
	</div>
{% endblock %}

